<div class="container text-center">
  <div class="row">
    <div class="col-4">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on right">
        <i class="bi bi-house-heart-fill"></i>
      </a>
    </div>
    <div class="col-4">
      <a [routerLink]="['/projects']" routerLinkActive="router-link-active" data-bs-toggle="tooltip" data-bs-placement="botton" data-bs-title="Tooltip on righ">
        <i class="bi bi-layers-fill"></i>
      </a>
    </div>
    <div class="col-4">
      <a [routerLink]="['/about']" routerLinkActive="router-link-active" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Tooltip on righ">
        <i class="bi bi-person-lines-fill"></i>
      </a>
    </div>
  </div>
</div>
