@use '../../assets/sass/color'

.text-footer
  position: fixed
  bottom: 4px
  right: 50px

  span
    font-family: Arial, Helvetica, sans-serif
    color: color.$black
    font-size: 13pt
    font-weight: 600
