<div class="row mb-5">
  <div class="card col p-2">
    <h2>{{ result?.home.timeline.title }}</h2>
    <h5>{{ result?.home.timeline.subtitle }}</h5>
    <p>
      {{ result?.home.timeline.description}}
    </p>
  </div>

  <div class="line col"><span></span></div>

  <div class="col p-2">
    <p>
      <a class="btn btn-outline-dark mx-4 p-1 mb-3" data-bs-toggle="collapse" href="#buttonAngular">
        {{ result?.home.timeline.angular.button }}
      </a>

      <a class="btn btn-primary p-1 mb-3" data-bs-toggle="collapse" href="#buttonBootstrap">
        {{ result?.home.timeline.bootstrap.button }}
      </a>
    </p>

    <div class="collapse" id="buttonAngular">
      <div class="card card-body p-2">
        <span class="buttons-text">{{ result?.home.timeline.angular.about }}</span>
      </div>
    </div>

    <div class="collapse mt-2" id="buttonBootstrap">
      <div class="card card-body p-2">
        <span class="buttons-text">{{ result?.home.timeline.bootstrap.about }}</span>
      </div>
    </div>
  </div>
</div>
