<div class="row mb-5">
  <div class="card col p-2">
    <h2>Teste</h2>
    <h5>subtitle</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Voluptatum quod accusantium provident unde consectetur
      itaque impedit consequuntur blanditiis. Exercitationem recusandae incidunt dicta,
      omnis laudantium quisquam quibusdam possimus architecto libero ab!
    </p>
  </div>

  <div class="line col"><span></span></div>

  <div class="card col p-2"><span>teste</span></div>
</div>
