<div class="tecnologys">
  <h3>{{ result?.about.tecnology.title }}</h3>
  <h6>{{ result?.about.tecnology.subtitle }}</h6>
</div>

<hr class="my-4">

<div>
  <p>
    <a class="btn btn-outline-dark mx-2 p-1 mb-3" data-bs-toggle="collapse" href="#buttonAngular" placement="left" ngbTooltip="Ver Sobre">
      {{ result?.about.tecnology.angular.name }}
    </a>

    <a class="btn btn-secondary mx-2 p-1 mb-3" data-bs-toggle="collapse" href="#buttonBootstrap" placement="bottom" ngbTooltip="Ver Sobre">
      {{ result?.about.tecnology.bootstrap.name }}
    </a>

    <a class="btn btn-info mx-2 p-1 mb-3" data-bs-toggle="collapse" href="#buttonSass" placement="bottom" ngbTooltip="Ver Sobre">
      {{ result?.about.tecnology.sass.name }}
    </a>

    <a class="btn btn-outline-warning mx-2 p-1 mb-3" data-bs-toggle="collapse" href="#buttonJavaScript" placement="bottom" ngbTooltip="Ver Sobre">
      {{ result?.about.tecnology.javascript.name }}
    </a>

    <a class="btn btn-outline-primary mx-2 p-1 mb-3" data-bs-toggle="collapse" href="#buttonTypeScript" placement="right" ngbTooltip="Ver Sobre">
      {{ result?.about.tecnology.typescript.name }}
    </a>
  </p>

  <div class="collapse" id="buttonAngular">
    <div class="card card-body p-2">
      <span class="buttons-text">{{ result?.about.tecnology.angular.description }}</span>
    </div>
  </div>

  <div class="collapse mt-2" id="buttonBootstrap">
    <div class="card card-body p-2">
      <span class="buttons-text">{{ result?.about.tecnology.bootstrap.description }}</span>
    </div>
  </div>

  <div class="collapse mt-2" id="buttonSass">
    <div class="card card-body p-2">
      <span class="buttons-text">{{ result?.about.tecnology.sass.description }}</span>
    </div>
  </div>

  <div class="collapse mt-2" id="buttonJavaScript">
    <div class="card card-body p-2">
      <span class="buttons-text">{{ result?.about.tecnology.javascript.description }}</span>
    </div>
  </div>

  <div class="collapse mt-2" id="buttonTypeScript">
    <div class="card card-body p-2">
      <span class="buttons-text">{{ result?.about.tecnology.typescript.description }}</span>
    </div>
  </div>
</div>
