@use '../../assets/sass/color'
@use '../../assets/sass/display'

.image
  display: flex
  justify-content: center

  img
    width: 60%
    height: 250px
    border-radius: 50%

    @include display.mobile
      width: 48%
      height: 160px
      border-radius: 50%

svg
  width: 45px

#grid-about
  .text-mobile
    display: none

  @include display.mobile
    .text-mobile
      margin: -5vh 0 2vh 0
      display: inline
      text-align: justify

    .side-text
      display: none

#social-media
  a
    text-decoration: none
    color: color.$white

  .text-icon
    &:hover
      color: color.$black
