@use '../../assets/sass/variables'

.image
  display: flex
  justify-content: center

  img
    width: 75%
    border-radius: 50%

svg
  width: 45px

#grid-about
  margin-top: 15vh

#social-media
  height: 30vh
  display: flex
  align-items: flex-end
