@use '../../../assets/sass/display'

a
  text-decoration: none

.card
  margin: 5vh 0px 3.5vh 0px
  width: 35vw

  img
    margin: -4vh 0px 0px 1vw
    max-width: 33vw
    max-height: 38vh
    border-radius: 6px

.modal
  text-decoration: none

@include display.mobile
  .card
    margin-top: 2vh
    width: 100%

    img
      margin-left: 2vw
      max-width: 95.5%

@include display.hd
  .card
    margin-top: 2vh
    width: 100%

    img
      margin-left: 2vw
      max-width: 95.5%
