@use '../../assets/sass/variables'
@use '../../assets/sass/mixins-small'

#title
  span
    margin-left: 69%
    color: variables.$dark-gray

    @include mixins-small.display
      margin-left: 0%

.contents
  display: flex
  justify-content: center
  padding-bottom: 5vh

  a
    text-decoration: none

    .card
      align-items: center
      color: variables.$black

      &:hover
        border: 1px solid variables.$black

      .images
        text-align: end

        img
          width: 30px
          height: 30px


  hr
    width: 96%

  .summary
    text-align: justify

    @include mixins-small.display
      display: none

      summary
        display: flex

  .modal-body
    text-align: justify

    .img-modal
      height: 72vh
      width: 100%
      border: 1px solid variables.$white
      border-radius: 2%

      @include mixins-small.display
        display: none

    .about-project
      display: none

      @include mixins-small.display
        display: inline
