<section id="projects-cards">
  <div class="container">
    <div class="row">

      <div class="card p-4">
        <div class="row">
          <div class="col summary mx-2">
            <summary>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt magnam magni eius reiciendis porro? Similique, earum dolor! Ducimus voluptatum, pariatur ad, explicabo voluptates eos inventore praesentium alias eum, ex sapiente!</summary>
          </div>
          <div class="col picture">
            <!-- <img src="" alt=""> -->
            img
          </div>
        </div>
      </div>

      <hr class="my-3">

      <div class="card p-4">
        <div class="row">
          <div class="col summary mx-2">
            <summary>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat neque quam pariatur corrupti possimus, velit aliquam rerum incidunt perferendis ratione ipsa ab, eligendi porro enim accusantium id aut ad perspiciatis.</summary>
          </div>
          <div class="col picture">
            <!-- <img src="" alt=""> -->
            img
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
