<section id="projects-cards">
  <div class="container">
    <div class="row">

      <a href="#" data-bs-toggle="modal" data-bs-target="#electricalSuplyStoreModal">
        <div class="card p-4">
          <div class="row">
            <div class="col summary mx-2">
              <summary>
                <span>{{ result?.projects.electricalSuplyStore.description.line }}</span>
                <span>{{ result?.projects.electricalSuplyStore.description.line2 }}</span>

                <h6 class="text-end pt-3">{{ result?.projects.electricalSuplyStore.extra}}</h6>
              </summary>
            </div>
            <div class="col text-center">
              <h2>{{ result?.projects.electricalSuplyStore.title }}</h2>
              <h6>{{ result?.projects.electricalSuplyStore.subtitle }}</h6>

              <div class="images">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
                <span class="mx-2">-</span>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" />
              </div>
            </div>
          </div>
        </div>
      </a>

      <div class="modal fade" id="electricalSuplyStoreModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ result?.projects.electricalSuplyStore.title }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ result?.projects.close }}</button>
              <a href="{{ electricalSuplyStoreGit }}" type="button" class="btn btn-dark" target="_blank">{{ result?.projects.github }}</a>
              <button type="button" class="btn btn-primary">{{ result?.projects.seeProject }}</button>
            </div>
          </div>
        </div>
      </div>

      <hr class="my-3 mx-4">

      <a href="#" data-bs-toggle="modal" data-bs-target="#homePageInstagramModal">
        <div class="card p-4">
          <div class="row">
            <div class="col mx-2">
              <summary>
                <span>{{ result?.projects.homePageInstagram.description.line }}</span>
                <span>{{ result?.projects.homePageInstagram.description.line2 }}</span>
                <span>{{ result?.projects.homePageInstagram.description.line3 }}</span>
                <span>{{ result?.projects.homePageInstagram.description.line4 }}</span>

                <h6 class="text-end pt-3">{{ result?.projects.homePageInstagram.extra}}</h6>
              </summary>
            </div>
            <div class="col text-center">
              <h2>{{ result?.projects.homePageInstagram.title }}</h2>
              <h6>{{ result?.projects.homePageInstagram.subtitle }}</h6>

              <div class="images">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
                <span class="mx-2">-</span>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" />
              </div>
            </div>
          </div>
        </div>
      </a>

      <div class="modal fade" id="homePageInstagramModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ result?.projects.homePageInstagram.title }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ result?.projects.close }}</button>
              <a href="{{ homePageInstagramGit }}" type="button" class="btn btn-dark" target="_blank">{{ result?.projects.github }}</a>
              <button type="button" class="btn btn-primary">{{ result?.projects.seeProject }}</button>
            </div>
          </div>
        </div>
      </div>

      <!-- <hr class="my-3">

      <a href="#" data-bs-toggle="modal" data-bs-target="#moviesModal">
        <div class="card p-4">
          <div class="row">
            <div class="col summary mx-2">
              <summary>
                <span></span>

                <h6 class="text-end pt-3">{{ result?.projects.movie.extra}}</h6>
              </summary>
            </div>
            <div class="col text-center">
              <h2>{{ result?.projects.movie.title }}</h2>
              <h6>{{ result?.projects.movie.subtitle }}</h6>

              <div class="images">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
                <span class="mx-2">-</span>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" />
                <span class="mx-2">-</span>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ionic/ionic-original.svg" />
              </div>
            </div>
          </div>
        </div>
      </a>

      <div class="modal fade" id="moviesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ result?.projects.close }}</button>
              <a href="{{ moviesGit }}" type="button" class="btn btn-dark" target="_blank">{{ result?.projects.github }}</a>
              <button type="button" class="btn btn-primary">{{ result?.projects.seeProject }}</button>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</section>
