@use '../../assets/sass/color'
@use '../../assets/sass/display'

#title
  span
    margin-left: 69%
    color: color.$dark-gray

.projects
  display: flex
  flex-direction: column

  .card
    display: flex
    flex-direction: row
    justify-content: space-around
    cursor: pointer
    padding: 15px 10px

    &:hover
      border: 1px solid color.$black

    summary
      text-align: justify
      width: 50%

    .images
      text-align: end

      img
        width: 30px
        height: 30px

  hr
    width: 96%

.projectSelected
  height: 100%
  width: 67vw

  h2
    text-align: justify

  .close-modal
    text-align: end
    font-size: 25px
    color: color.$black

    &:hover
      color: color.$warn

  a
    text-decoration: none

  .img-modal
    height: 70vh
    width: 100%
    border: 1px solid color.$white
    border-radius: 2%

  .description-modal
    display: none

  .see-project
    .information
      font-size: 25px
      color: color.$warn