@use '../../../assets/sass/color'
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap')

*
  margin: 0px
  padding: 0px

#title
  text-align: center
  margin-top: 2vh

  h2
    font-family: 'Caveat', cursive !important

#body
  background-color: color.$white
  display: flex
  justify-content: center


.base
  .content-screen
    background-color: color.$white
    border: 10px solid color.$black
    width: 150x
    height: 80px
    border-top-left-radius: 4px
    border-top-right-radius: 4px
    font-size: 50px
    font-weight: 600
    text-align: center

  .base-calculator
    display: flex
    background-color: color.$black

    .content-numbers
      background-color: color.$gray
      width: 300px

      .numbers
        display: flex
        justify-content: center
        
        .number-button
          background-color: color.$black
          cursor: pointer
          text-align: center
          justify-content: center
          display: flex
          align-itens: center
          color: color.$white
          width: 5vw
          height: 10vh
          margin: 1vh 1vw
          font-size: 25px

          &:hover
            background-color: color.$dark-gray

        .zero
          width: 12vw

  .content-buttons
    background-color: color.$dark-gray
    width: 100px
    display: flex
    flex-direction: column-reverse

    .buttons-calculator
      text-align: center
      min-width: 65px
      height: 5vh
      font-size: 15px
      margin-bottom: 10px

      .clear
        cursor: pointer
        border: none
        color: color.$black

        &:hover
          border-bottom: 2px solid color.$black
          font-size: 17px

      .calculate
        cursor: pointer
        border: none
        color: color.$black

        &:hover
          border-bottom: 2px solid color.$black
          font-size: 17px

.operations
  display: flex
  justify-content: center
  align-items: center
  width: 30vw
  min-width: 400px
  heigth: 20px
  background-color: color.$black
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  margin-bottom: 4vh
 
  .operator
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    background-color: color.$white
    color: color.$black
    width: 45px
    height: 35px
    margin: 1.5vh 3vw
    border-radius: 5px

    &:hover
      background-color: color.$white
      color: color.$green

  .sum
    padding-top: 2px
    font-size: 23px

    &:hover
      font-size: 25px

  .subtraction
    font-size: 30px

    &:hover
      font-size: 32px

  .multiplication
    font-size: 18px

    &:hover
      font-size: 20px

  .division
    padding-top: 2px
    font-size: 26px

    &:hover
      font-size: 38px
