<section id="title">
  <h1>Basic Calculator</h1>
</section>

<section id="body">
  <div class="base">
      <div class="contents">
          <div class="content-screen"></div>

          <div class="base-calculator">
              <div class="content-numbers">
                  <div class="numbers">
                      <a href="#" onclick="numberSelected('1')"><div>1</div></a>
                      <a href="#" onclick="numberSelected('2')"><div>2</div></a>
                      <a href="#" onclick="numberSelected('3')"><div>3</div></a>
                  </div>

                  <div class="numbers">
                      <a href="#" onclick="numberSelected('4')"><div>4</div></a>
                      <a href="#" onclick="numberSelected('5')"><div>5</div></a>
                      <a href="#" onclick="numberSelected('6')"><div>6</div></a>
                  </div>

                  <div class="numbers">
                      <a href="#" onclick="numberSelected('7')"><div>7</div></a>
                      <a href="#" onclick="numberSelected('8')"><div>8</div></a>
                      <a href="#" onclick="numberSelected('9')"><div>9</div></a>
                  </div>

                  <div class="numbers">
                      <a href="#" onclick="numberSelected('0')"><div class="zero">0</div></a>
                      <a href="#" onclick="numberSelected('.')"><div>.</div></a>
                  </div>
              </div>

              <div class="content-buttons">
                  <a href="#" onclick="toCleanScreenContent()">
                      <div class="clear">Clear</div>
                  </a>
                  <a href="#" onclick="result()">
                      <div class="enter">Enter</div>
                  </a>
              </div>
          </div>
      </div>

      <div class="operations">
          <a href="#" onclick="operations('-')"><div class="subtraction">-</div></a>
          <a href="#" onclick="operations('+')"><div class="sum">+</div></a>
          <a href="#" onclick="operations('*')"><div class="multiplication">x</div></a>
          <a href="#" onclick="operations('/')"><div class="division">&#247;</div></a>
      </div>
  </div>
</section>
