<section id="title">
  <h2>Basic Calculator</h2>
</section>

<section id="body">
  <div class="base">
    <div class="contents">
      <div class="content-screen">{{ this.valorInScreen }}</div>

      <div class="base-calculator">
        <div class="content-numbers">
          <div class="numbers">
            <div class="number-button" (click)="numberSelected('1')">1</div>
            <div class="number-button" (click)="numberSelected('2')">2</div>
            <div class="number-button" (click)="numberSelected('3')">3</div>
          </div>

          <div class="numbers">
            <div class="number-button" (click)="numberSelected('4')">4</div>
            <div class="number-button" (click)="numberSelected('5')">5</div>
            <div class="number-button" (click)="numberSelected('6')">6</div>
          </div>

          <div class="numbers">
            <div class="number-button" (click)="numberSelected('7')">7</div>
            <div class="number-button" (click)="numberSelected('8')">8</div>
            <div class="number-button" (click)="numberSelected('9')">9</div>
          </div>

          <div class="numbers">
            <div class="number-button zero" (click)="numberSelected('0')">0</div>
            <div class="number-button" (click)="numberSelected('.')">.</div>
          </div>
        </div>

        <div class="content-buttons">
          <div class="buttons-calculator" (click)="cleanScreenContent()">
            <div class="clear">
              <span>Clear</span>
            </div>
          </div>

          <div class="buttons-calculator" (click)="result()">
            <div class="calculate">
              <span>Calculate</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="operations">
      <div class="operator subtraction" (click)="operations('-')">
        <span>-</span>
      </div>

      <div class="operator sum" (click)="operations('+')">
        <span>+</span>
      </div>
      
      <div class="operator multiplication" (click)="operations('*')">
        <span>x</span>
      </div>

      <div class="operator division" (click)="operations('/')">
        <span>&#247;</span>
      </div>
    </div>
  </div>
</section>

<section id="return-projects">
  <app-icon-return></app-icon-return>
</section>

