<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span aria-hidden="true"><i class="bi bi-caret-left"></i></span>
      <span class="visually-hidden"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span aria-hidden="true"><i class="bi bi-caret-right"></i></span>
      <span class="visually-hidden"></span>
    </button>

    <div class="carousel-item active" data-bs-interval="7000">
      <img src="{{ homePageInstagram }}" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item" data-bs-interval="7000">
      <img src="{{ eletricalSuplyStore }}" class="d-block w-100" alt="...">
    </div>

    <!-- <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div> -->

  </div>
</div>
