@use '../assets/sass/variables'

*
  margin: 0
  padding: 0

.main
  height: 100vh

  .body
    // background-color: variables.$black

  .container
    min-width: 95%

.greetings
  margin: 35vh 0 0 50%
