<div class="text-center">
  <div class="lds-ripple"><div></div><div></div></div>

  <div class="welcome my-5">
    <div class="waviy">
      <span style="--i:1">B</span>
      <span style="--i:2">E</span>
      <span style="--i:3">M</span>
      <span style="--i:4">-</span>
      <span style="--i:5">V</span>
      <span style="--i:6">I</span>
      <span style="--i:7">N</span>
      <span style="--i:8">D</span>
      <span style="--i:9">O</span>
      <div class="text mx-3">{{ result?.greetings }}</div>
    </div>

    <div class="bar-down"></div>
  </div>

  <div class="welcome-mobile my-5">
    <div class="waviy-mobile">
      <span style="--i:1">B</span>
      <span style="--i:2">E</span>
      <span style="--i:3">M</span>
      <span style="--i:4">-</span>
      <span style="--i:5">V</span>
      <span style="--i:6">I</span>
      <span style="--i:7">N</span>
      <span style="--i:8">D</span>
      <span style="--i:9">O</span>
    </div>
  </div>
</div>

