@use '../../../assets/sass/variables'

*
  margin: 0
  padding: 0

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited
  background-color: variables.$white !important
  border: variables.$purple 1px solid !important
  color: variables.$purple
  box-shadow: none

  &:hover
    color: variables.$white
    background-color: variables.$dark-purple !important
    border: variables.$dark-purple 1px solid!important

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited
  background-color: variables.$white !important
  border: variables.$pink 1px solid !important
  color: variables.$pink
  box-shadow: none

  &:hover
    color: variables.$white
    background-color: variables.$dark-pink !important
    border: variables.$dark-pink 1px solid!important

.buttons-text
  text-align: justify
