<div class="">
  <h2>{{ result?.home.tecnology.title }}</h2>
  <h5>{{ result?.home.tecnology.subtitle }}</h5>
  <p>
    {{ result?.home.tecnology.description}}
  </p>
</div>

<hr class="my-4">

<div class="">
  <p>
    <a class="btn btn-outline-dark mx-2 p-1 mb-3" data-bs-toggle="collapse" href="#buttonAngular">
      {{ result?.home.tecnology.angular.button }}
    </a>

    <a class="btn btn-secondary mx-2 p-1 mb-3" data-bs-toggle="collapse" href="#buttonBootstrap">
      {{ result?.home.tecnology.bootstrap.button }}
    </a>

    <a class="btn btn-info mx-2 p-1 mb-3" data-bs-toggle="collapse" href="#buttonSass">
      {{ result?.home.tecnology.sass.button }}
    </a>

    <a class="btn btn-outline-warning mx-2 p-1 mb-3" data-bs-toggle="collapse" href="#buttonJavaScript">
      {{ result?.home.tecnology.javascript.button }}
    </a>

    <a class="btn btn-outline-primary mx-2 p-1 mb-3" data-bs-toggle="collapse" href="#buttonTypeScript">
      {{ result?.home.tecnology.typescript.button }}
    </a>
  </p>

  <div class="collapse" id="buttonAngular">
    <div class="card card-body p-2">
      <span class="buttons-text">{{ result?.home.tecnology.angular.about }}</span>
    </div>
  </div>

  <div class="collapse mt-2" id="buttonBootstrap">
    <div class="card card-body p-2">
      <span class="buttons-text">{{ result?.home.tecnology.bootstrap.about }}</span>
    </div>
  </div>

  <div class="collapse mt-2" id="buttonSass">
    <div class="card card-body p-2">
      <span class="buttons-text">{{ result?.home.tecnology.sass.about }}</span>
    </div>
  </div>

  <div class="collapse mt-2" id="buttonJavaScript">
    <div class="card card-body p-2">
      <span class="buttons-text">{{ result?.home.tecnology.javascript.about }}</span>
    </div>
  </div>

  <div class="collapse mt-2" id="buttonTypeScript">
    <div class="card card-body p-2">
      <span class="buttons-text">{{ result?.home.tecnology.typescript.about }}</span>
    </div>
  </div>
</div>
