@use '../../../assets/sass/color'

.icon
  background-color: color.$black
  color: color.$white
  width: 70px
  height: 70px
  font-size: 30px
  border: 1px solid color.$black
  border-radius: 50%
  padding-top:13px
  position: absolute
  left: 90vw
  top: 85vh

  &:hover
    color: color.$dark-gray
    border: 2px solid color.$dark-gray
    font-size: 29px
