<div class="container content-desktop">
  <a href="">
    <div class="row">
      <div class="col">
        <app-designs></app-designs>
      </div>
      <div class="col-6">
        2 of 3 (wider)
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </a>

  <a href="">
    <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col-5">
        2 of 3 (wider)
      </div>
      <div class="col">
        <app-product></app-product>
      </div>
    </div>
  </a>

  <a href="">
    <div class="row">
      <div class="col">
        <app-contact></app-contact>
      </div>
      <div class="col-6">
        2 of 3 (wider)
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </a>
</div>

<div class="container content-mobile">
  <div class="row">
    <app-designs></app-designs>
  </div>

  <div class="row">
    <app-product></app-product>
  </div>

  <div class="row">
    <app-contact></app-contact>
  </div>
</div>
