<div class="container content-desktop">
  <div class="row">
    <div class="col">
      <app-designs></app-designs>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col">
    </div>
    <div class="col-5">
    </div>
    <div class="col">
      <app-product></app-product>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-contact></app-contact>
    </div>
    <div class="col-6">
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div class="container content-mobile">
  <div class="row">
    <app-designs></app-designs>
  </div>

  <div class="row">
    <app-product></app-product>
  </div>

  <div class="row">
    <app-contact></app-contact>
  </div>
</div>
