<section class="timeLine">
  <div class="row mt-4">
    <div class="card col">
      <span>
        Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Voluptatum quod accusantium provident unde consectetur
        itaque impedit consequuntur blanditiis. Exercitationem recusandae incidunt dicta,
        omnis laudantium quisquam quibusdam possimus architecto libero ab!
      </span>
    </div>
    <div class="line col"><span></span></div>
    <div class="card col"><span>teste</span></div>
  </div>
</section>
