<a href="#" data-bs-toggle="modal" data-bs-target="#designsModal">
  <div class="card my-5">
    <img src="../../../assets/img/home/product/ideia.jpg">

    <div class="card-body">
      <h5 class="card-title">{{ result?.home.product.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ result?.home.product.subtitle }}</h6>

      <div class="modal fade" id="designsModal" tabindex="-1" aria-labelledby="designsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="designsModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="../../../assets/img/inDevelopment/inDevelopment.png">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
