<div class="card my-4">
  <div class="card-body">

    <h5 class="card-title">Contato ...</h5>
    <h6 class="card-subtitle mb-2 text-muted">disponivel em tal hora</h6>

    <div class="container">
      <div class="row contact text-center">

        <div class="col-5 p-2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
        </div>

        <div class="col-5 p-2">

          <form action="https://formsubmit.co/dcordeiro962@gmail.com" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" name="name" class="form-control" id="name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">E-mail:</label>
              <input type="email" name="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message:</label>
              <textarea name="message" class="form-control" id="message" rows="3"></textarea>
            </div>

            <div class="mb-3">
              <label for="formFileLg" class="form-label">Large file input example</label>
              <input class="form-control form-control-lg" id="formFileLg" type="file"  name="attachment" accept="image/png, image/jpeg">
            </div>

            <button class="btn btn-primary" type="submit">Enviar</button>

            <input type="hidden" name="_subject" value="Portfolio! Sugestões">
            <input type="text" name="_honey" style="display:none">
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_next" value="https://daniel-cordeiro.netlify.app/">
          </form>

        </div>
      </div>
    </div>

  </div>
</div>
