@use '../../../assets/sass/display'

.contact
  display: flex
  justify-content: space-between

.contact-mobile
  display: none

@include display.mobile
  .contact
    display: none

  .contact-mobile
    display: inline

    .text-contact
      font-size: 8pt

@include display.hd
  .contact
    display: none

  .contact-mobile
    display: inline

    .text-contact
      font-size: 8pt
